.app-footer {
  width: 100%;
  background-color: var(--grey-900);
  color: var(--white);

  &-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0 1em;
    margin: 0 auto;
  }

  &-version {
    position: absolute;
    right: 1rem;
    flex: 1;
  }
}

$chartWidth: 120px;

.traffic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  &-chart {
    padding: 0.5em 0;
    transition: max-width 1s;
    width: $chartWidth;
    height: 48px;
    max-width: 0;
    overflow: hidden;

    canvas {
      width: $chartWidth !important;
      height: 100%;
    }

    &--visible {
      max-width: 100%;
    }
  }

  &-stats {
    display: flex;
    gap: 1em;
    padding: 1em;

    &-digit {
      min-width: 32px;
      text-align: right;
    }

    &-unit {
      width: 30px;
    }
  }
}
