.app-header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--grey-900);

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 0 1em;
    max-width: 768px;
    margin: 0 auto;
  }

  &-logo {
    height: 48px;
    padding: 0.25em;

    img {
      height: 100%;
    }
  }

  nav {
    flex: 1;
    ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
    }

    li {
      a {
        display: block;
        padding: 0.5em 1em;
        color: var(--grey-300);
        text-decoration: none;
        transition: 0.2s;
        border-radius: 8px;

        &:hover {
          background-color: rgba(#fdfbfb, 0.1);
          color: var(--grey-100);
        }
      }
    }
  }

  &-subscription {
    color: var(--grey-100);
    display: flex;
    gap: 1em;

    &-inner {
      flex: 1;
    }

    &-title {
      font-weight: bold;
    }

    &-params {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: var(--grey-200);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    button {
      height: auto;
      padding: 0.5em;
      color: var(--grey);
      transition: color 0.2s;
      border: none !important;
      background-color: transparent;
      cursor: pointer;

      &.last-child {
        padding-right: 1em;
      }

      &:hover {
        color: var(--grey-500);
      }
    }
  }
}
