@use "sass:color";

@font-face {
  font-family: 'twemoji mozilla';
  src: url('assets/fonts/Twemoji.Mozilla.ttf') format('truetype');
}

@font-face {
  font-family: "SF Pro";
  src:
    local("SF Pro"),
    url("assets/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Regular.otf")
      format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src:
    local("SF Pro"),
    url("assets/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Bold.otf")
      format("opentype");
  font-weight: 700;
  font-style: normal;
}

:root {
  /**
  * Colors
  */
  --bg-grey: #ececec;
  --secondary-text: rgba(60, 60, 67, 0.6);

  --white: #fdfbfb;
  --black: #0f0f0f;

  --grey: #bbbbbd;
  --grey-100: #{color.scale(#bbbbbd, $lightness: 90%)};
  --grey-200: #{color.scale(#bbbbbd, $lightness: 75%)};
  --grey-300: #{color.scale(#bbbbbd, $lightness: 50%)};
  --grey-400: #{color.scale(#bbbbbd, $lightness: 20%)};
  --grey-500: --grey;
  --grey-600: #{color.scale(#bbbbbd, $lightness: -20%)};
  --grey-700: #{color.scale(#bbbbbd, $lightness: -35%)};
  --grey-800: #{color.scale(#bbbbbd, $lightness: -50%)};
  --grey-900: #{color.scale(#bbbbbd, $lightness: -75%)};

  --blue: #0a84ff;
  --blue-500: --blue;
  --blue-600: #{color.scale(#0a84ff, $lightness: -20%)};

  --green: #34c759;
  --green-400: #{color.scale(#34c759, $lightness: 20%)};
  --green-600: #{color.scale(#34c759, $lightness: -20%)};

  --red: #ff3b30;
  --orange: #ff9500;
  --yellow: #ffcc00;
  --teal: #30b0c7;
  --violet: #af52de;
  --indigo: #5856d6;
  --pink: #ff2d55;
  --brown: #a2845e;

  --shadow: 0 2px 16px rgba(0, 0, 0, 0.35);
  --shadow-sm: 0 1px 8px rgba(0, 0, 0, 0.25);
  --shadow-xl: 0 0 40px rgba(0, 0, 0, 0.3);

  --font-family:
    "SF Pro", "Roboto", "JetBrains Mono", sans-serif, "Apple Color Emoji";
}

:global(.os-windows) {
  --font-family:
    "SF Pro", "Roboto", "JetBrains Mono", sans-serif, "Apple Color Emoji", "twemoji mozilla";
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100vh;
}

:global(#root) {
  min-height: 100vh;
  height: 100%;
}

.layout {
  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;

  font-family: var(--font-family), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;

  color: #0f0f0f;
  background: linear-gradient(
    155deg,
    #bfbfbf 0%,
    #e4e4e4 50%,
    #e0e0e0 51%,
    #f8f8f8 80%,
    #e4e4e4 100%
  );

  &-header {
  }

  &-content {
    flex: 1;
    display: flex;
  }

  &-footer {
  }
}
