@use "sass:color";

@font-face {
  font-family: "SF Pro";
  src:
    local("SF Pro"),
    url("assets/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Regular.otf")
      format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src:
    local("SF Pro"),
    url("assets/fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Bold.otf")
      format("opentype");
  font-weight: 700;
  font-style: normal;
}

:root {
  /**
  * Colors
  */
  --bg-grey: #ececec;
  --secondary-text: rgba(60, 60, 67, 0.6);

  --white: #fdfbfb;
  --black: #0f0f0f;

  --grey: #bbbbbd;
  --grey-100: #{color.scale(#bbbbbd, $lightness: 90%)};
  --grey-200: #{color.scale(#bbbbbd, $lightness: 75%)};
  --grey-500: --grey;
  --grey-600: #{color.scale(#bbbbbd, $lightness: -20%)};
  --grey-700: #{color.scale(#bbbbbd, $lightness: -35%)};
  --grey-800: #{color.scale(#bbbbbd, $lightness: -50%)};
  --grey-900: #{color.scale(#bbbbbd, $lightness: -75%)};

  --blue: #0a84ff;
  --blue-500: --blue;
  --blue-600: #{color.scale(#0a84ff, $lightness: -20%)};

  --green: #34c759;
  --green-400: #{color.scale(#34c759, $lightness: 20%)};
  --green-600: #{color.scale(#34c759, $lightness: -20%)};

  --red: #ff3b30;
  --orange: #ff9500;
  --yellow: #ffcc00;
  --teal: #30b0c7;
  --violet: #af52de;
  --indigo: #5856d6;
  --pink: #ff2d55;
  --brown: #a2845e;

  --shadow: 0 2px 16px rgba(0, 0, 0, 0.35);
  --shadow-sm: 0 1px 8px rgba(0, 0, 0, 0.25);
  --shadow-xl: 0 0 40px rgba(0, 0, 0, 0.3);
}

.layout {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  font-family: "SF Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;

  color: #0f0f0f;
  background-color: #e0e0e0;

  &-header {
  }

  &-content {
    flex: 1;
  }
  &-footer {
  }
}
