.app-header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--grey-900);

  &-inner {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: 0 1em;
    max-width: 768px;
    margin: 0 auto;
  }

  &-logo {
    height: 48px;
    margin-top: 0.5em;
    padding: 0.25em;

    img {
      height: 100%;
    }
  }

  nav {
    ul {
      display: flex;
      list-style: none;
    }

    li {
      a {
        display: block;
        padding: 0.5em 1em;
        color: var(--grey-300);
        text-decoration: none;
        transition: 0.2s;
        border-radius: 8px;

        &:hover {
          background-color: rgba(#fdfbfb, 0.1);
          color: var(--grey-100);
        }
      }
    }
  }
}
