.icon {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1.15em;
  height: 1.15em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50%;

  svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 1.1em;
    height: 1em;

    use {
      width: 100%;
      height: 100%;
    }
  }

  &:global(.tiny) {
    font-size: 0.5em;
  }

  &:global(.small) {
    font-size: 0.75em;
  }

  &:global(.big) {
    font-size: 1.25em;
  }

  &:global(.large) {
    font-size: 1.5em;
  }

  &:global(.huge) {
    font-size: 2em;
  }

  &:global(.white) {
    color: var(--white);
  }

  &:global(.red) {
    color: var(--red);
  }

  &:global(.orange) {
    color: var(--orange);
  }

  &:global(.yellow) {
    color: var(--yellow);
  }

  &:global(.green) {
    color: var(--green);
  }

  &:global(.teal) {
    color: var(--teal);
  }

  &:global(.blue) {
    color: var(--blue);
  }

  &:global(.violet) {
    color: var(--violet);
  }

  &:global(.indigo) {
    color: var(--indigo);
  }

  &:global(.pink) {
    color: var(--pink);
  }

  &:global(.brown) {
    color: var(--brown);
  }

  &:global(.grey) {
    color: var(--grey);
  }

  &:global(.black) {
    color: var(--black);
  }

  &--rotate {
    animation: spin 3s linear infinite;
    -webkit-font-smoothing: antialiased;

    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
