@mixin clearFix() {
  &:before,
  &:after {
    display: block;
    width: 100%;
    height: 0px;
    content: "";
    clear: both;
    visibility: hidden;
  }
}
@function vw($target) {
  $vw-context: (1100 * 0.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}
